/*
MEYER RESET
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	
	/* Browsers have different default form fonts */
	font-size:13px;
	font-family:Arial;
}

/* Remove the stupid outer glow in Webkit */
input:focus
{
	outline:0;
}

/* Box Sizing Reset
-----------------------------------------------*/

/* All of our custom controls should be what we expect them to be */
input,
textarea
{
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

/* Text Inputs
-----------------------------------------------*/

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week]
{
}

/* Button Controls
-----------------------------------------------*/

input[type=checkbox],
input[type=radio]
{
	width:13px;
	height:13px;
}

/* File Uploads
-----------------------------------------------*/

input[type=file]
{

}

/* Search Input
-----------------------------------------------*/

/* Make webkit render the search input like a normal text field */
input[type=search]
{
	-webkit-appearance:textfield;
	-webkit-box-sizing:content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration
{
	display:none;
}

/* Buttons
-----------------------------------------------*/

button,
input[type="reset"],
input[type="button"],
input[type="submit"]
{
	/* Fix IE7 display bug */
	overflow:visible;
	width:auto;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button
{	
	padding:0;
	border:0;
	background:none;
}

/* Textarea
-----------------------------------------------*/

textarea 
{
	/* Move the label to the top */
	vertical-align:top;
	
	/* Turn off scroll bars in IE unless needed */
	overflow:auto;
}

/* Selects
-----------------------------------------------*/

select
{

}

select[multiple] 
{
	/* Move the label to the top */
	vertical-align:top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    font-family: 'Lato', sans-serif;
}
/*
Header
*/
.header {
    width: 100vw;
    height: 12vh;
    background-color: rgb(171, 159, 213);
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header > div {
    margin: 5vw;
    font-size: 3em;
    font-weight: 400;
}

/*
Grid
*/
.container {
    margin: 5vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    
}
.book{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1vh;
    height: 30vh;
    width: 20vh;

    box-shadow: 0.2vw 0.2vw 0.2vw 0.2vw rgb(234, 231, 231);
    border-radius: 2vh;

    text-align: center;
}
.add {
    height: 30vh;
    width: 20vh;

    box-shadow: 0.2vw 0.2vw 0.2vw 0.2vw rgb(234, 231, 231);
    border-radius: 2vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
.add:hover {
    background-color: rgb(207, 206, 206);
    cursor: pointer;
}
.plus {
    color: gray;
    font-size: 10vh;
}

.modal {
    padding: 1vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    border-radius:10px;
    z-index: 10;
    background-color: white;
    width: 20vw;
    height: 40vh;
    transition: 200ms ease-in-out;
}
.modal-header{
    margin-bottom: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2em;
    margin-left: 1vw;
}

.modal.active{
    transform: translate(-50%,-50%) scale(1);
}
.close-button {
    cursor: pointer;
    border: none;
    background-color: white;
    font-size: 2vw;
    font-weight: bold;
}

.modal-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vh;
}
#book-title{
    height: 5vh;
    border-radius: 1.5vw;
    padding-left: 1vw;
    width: 95%;
    border: none;
    background-color: rgb(220, 220, 220);
}

#author{
    height: 5vh;
    border-radius: 1.5vw;
    padding-left: 1vw;
    width: 95%;
    border: none;
    background-color: rgb(220, 220, 220);
}

input[type=text]:focus {
    background-color: rgb(168, 170, 170);
  }
  
.read{
    padding-left: 0.5vw;
}

.button {
    background-color: white; 
    height: 5vh;
    border-radius: 2vw;
    background-color: rgb(171, 159, 213);
    color: white;
}
  
.button:hover {
    background-color: rgb(198, 185, 244);
    color: white;
}

#pages-total{
    height: 5vh;
    border-radius: 1.5vw;
    padding-left: 1vw;
    width: 95%;
    border: none;
    background-color: rgb(220, 220, 220);
}
#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    pointer-events: none;
    transition: 200ms ease-in-out;
}

#overlay.active {
    opacity: 0.25;
    pointer-events: all;
}